<!-- Wrapper -->
<div id="wrapper">

	<header id="header">
		<div id="doe">
			<a href="https://apoia.se/colaboradados"><img src="images/apoie.png" alt="Um cofre de porquinho rosa para ícone da campanha de doação"></a>
		</div>
		<div class="inner">

			<!-- Logo -->
			<center>
			<a href="{{ site.baseurl }}/" class="logo">
				<span class="symbol">

					{% if site.font-awesome-icon-logo %}

					<div href="#" class="icon style1 {{ site.font-awesome-icon-logo }}"></div>

					{% else %}

					<img src="{{ site.baseurl }}/{{ site.logo-image-url }}" alt=""/>

					{% endif %}

				</span><span class="title">{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</span>
			</a>
			</center>
			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

		</div>
	</header>

	{% include menu.html %}

	<!-- Main -->
	<div id="main">
		<div class="inner">

<script src="assets/js/doe.js" charset="utf-8"></script>
