<section class="rectangles">

    {% for newsletter in site.newsletter limit:site.front-page-post %}
        <article class="style">
            <span class="image">
                <img src="{{ site.url }}{{ site.baseurl }}/images/colaboradados.png" alt="" />
            </span>
            <a href="{{ newsletter.link }}">
                <h2>{{ newsletter.title }}</h2>
                <br/>
                <h5>{{ newsletter.author }}</h5>
            </a>
        </article>
    {% endfor %}
    
    </section>
    