<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css " | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="images/coluna7.jpg" type="image/x-icon">
  </head>
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
    <header id="header">
      <div class="inner">
        <!-- Logo -->
        <center>
          <a href="{{ site.baseurl }}/" class="logo">
            <span class="symbol">
              {% if site.font-awesome-icon-logo %}
              <div href="#" class="icon style1 {{ site.font-awesome-icon-logo }}"></div>
              {% else %}
              <img src="{{ site.url }}{{ site.baseurl }}/images/coluna7.jpg" alt=""/>
              {% endif %}
            </span>
            <span class="title">{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</span>
          </a>
        </center>
        <!-- Nav -->
        <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav>
      </div>
    </header>
    {% include menu.html %}
    <!-- Main -->
    <div id="main">
    <div class="inner">
    {{ content }} {% include footer.html %}
  </body>
</html>
